html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 20px;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 background-color:lightblue;
}
img{
    margin-left: 20px;
    margin-top: 20px;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
h3{
    color: purple;
    font-size: 3em;
    text-shadow: 2px 2px yellow;
  }
}

